<#@ template language="C#" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="namespace" #>
<#@ import namespace="GraphNamespace" #>
<manialink version="3" id="expected" name="EvoSC#-expected">
<#
RenderBody();
#>
</manialink>
<#+
public List<int> numbers { get; init; }
public boolean enabled { get; init; } = true;
List<string> __insertedOneTimeManiaScripts = new List<string>();
List<Action> __maniaScriptRenderMethods = new List<Action>();
string DoNothing(){ return ""; }
void RenderBody() {
var __outerIndex1 = 0;
foreach (int i in numbers) {
var __index = __outerIndex1;
if (enabled) {
Render_Component_MtContext2(x: (20 * __index), __slotRenderer_default: () => Render_Slot_3_default(numbers: numbers,enabled: enabled,__index: __index,i: i));
}
__outerIndex1++;
}
Render_Component_MtContext2(__slotRenderer_default: () => Render_Slot_4_default(numbers: numbers,enabled: enabled));
foreach(var maniaScriptRenderMethod in __maniaScriptRenderMethods){ maniaScriptRenderMethod(); }
#>
<script>scriptText1
<#+
if(!__insertedOneTimeManiaScripts.Contains("0zU/AjjFBI5iWuZPX521w2ZluB8P21bd48fEgb65Qz4=")){
#>
scriptText2
<#+
__insertedOneTimeManiaScripts.Add("0zU/AjjFBI5iWuZPX521w2ZluB8P21bd48fEgb65Qz4=");
}
#>
scriptText3
</script>
<#+
}
void Render_Component_MtContext5(double x = 0.0, double y = 0.0, double w = 0.0, double h = 0.0, string halign = $"left", string valign = $"center", double opacity = 1.0, int zIndex = 0, int events = 0, string action = $"", string url = $"", string manialink = $"", string style = $"", string textfont = $"GameFont", double textsize = 1.0, string textcolor = $"", string focusareacolor1 = $"", string focusareacolor2 = $"", string text = $"", string textprefix = $"", int bold = 0, int autonewline = 0, int maxline = 0, int translate = 0, string textid = $"", string id = $"") {
#>
<label pos="<#= (x) #> <#= (y) #>" size="<#= (w) #> <#= (h) #>" halign="<#= (halign) #>" valign="<#= (valign) #>" opacity="<#= (opacity) #>" z-index="<#= (zIndex) #>" ScriptEvents="<#= (events) #>" action="<#= (action) #>" url="<#= (url) #>" manialink="<#= (manialink) #>" style="<#= (style) #>" textfont="<#= (textfont) #>" textsize="<#= (textsize) #>" textcolor="<#= (textcolor) #>" focusareacolor1="<#= (focusareacolor1) #>" focusareacolor2="<#= (focusareacolor2) #>" text="<#= (text) #>" textprefix="<#= (textprefix) #>" textemboss="<#= (bold) #>" autonewline="<#= (autonewline) #>" maxline="<#= (maxline) #>" translate="<#= (translate) #>" textid="<#= (textid) #>" id="<#= (id) #>" />
<#+
}
void Render_Component_MtContext2(Action __slotRenderer_default, int zIndex = 0, double x = 0.0, double y = 0.0, double w = 0.0, double h = 0.0) {
#>
<frame pos="<#= (x) #> <#= (y) #>" size="<#= (w) #> <#= (h) #>" z-index="<#= (zIndex) #>">
<#+
__slotRenderer_default();
#>
</frame>
<#+
}
void Render_Component_MtContext6(test arg3, string arg1 = $"", int arg2 = 0) {
__maniaScriptRenderMethods.Add(() => Render_ComponentScript_MtContext6(arg3,arg1,arg2));
}
void Render_ComponentScript_MtContext6(test arg3, string arg1 = $"", int arg2 = 0) {
#>
<script>GraphScript
<#+
if(!__insertedOneTimeManiaScripts.Contains("FWKSFxnFcgdsXVn9dn5IW3isD6T8z+2eK6liK8rPSpU=")){
#>
GraphScript
<#+
__insertedOneTimeManiaScripts.Add("FWKSFxnFcgdsXVn9dn5IW3isD6T8z+2eK6liK8rPSpU=");
}
#>
</script>
<#+
}
void Render_Slot_3_default(int __index,int i,List<int> numbers,boolean enabled = true) {
var __outerIndex7 = 0;
foreach (int j in numbers.GetRange(0, i)) {
var __index2 = __outerIndex7;
if (i < numbers.Count) {
Render_Component_MtContext5(text: $"{(i)}, {(j)} at index {(__index)}, {(__index2)}");
}
__outerIndex7++;
}
}
void Render_Slot_8_default(Action __slotRenderer_default) {
#>
<test>
<#+
Render_Component_MtContext6(arg3: (new test()));
#>
</test>
<#+
}
void Render_Slot_4_default(List<int> numbers,boolean enabled = true) {
Render_Component_MtContext2(__slotRenderer_default: () => Render_Slot_8_default(__slotRenderer_default: () => DoNothing()));
}
#>